<launch>

    <arg name="ns0" value= "uav0"/>
    <arg name="ns1" value= "uav1"/>
    <arg name="ns2" value= "uav2"/>
    <arg name="target_x" value= "1"/>
    <arg name="target_y" value= "10"/>

    <group ns="$(arg ns0)">

        <!-- Function node -->
        <node pkg="uavros_multi_gimbal_sitl" type="car_number_detect_relate.py" name="car_number_detect_relate" output="screen">
        </node>
        
    </group>

</launch>
